<!-- Home section -->
<section class="main-section-container">
  <div class="left-section-layout">
    <h1>Managing tasks, made simple</h1>
    <p>
      Simple, flexible, and powerful. All it takes are boards, lists, and cards
      to get a clear view of who’s doing what and what needs to get done.
    </p>
    <div class="btn-container">
      <button mat-raised-button class="btn" (click)="redirectToSignUp()">
        Sign up for free
      </button>
      <button mat-raised-button class="login-btn" (click)="redirectToLogin()">
        Login
      </button>
    </div>
  </div>
  <div class="right-section-layout">
    <img src="../../assets/images/01_Hero_2x.webp" alt="Illustration" />
  </div>
</section>
